@{
    ViewData["Title"] = "Gửi MailKit";
}
<h1>@ViewData["Title"]</h1>
@* <p class="alert alert-danger">Gửi nhé?</p> *@
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="to">
        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Subject</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="subject">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Body</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Gửi Gmail</button>
    <hr>
    <a asp-action="index" class="btn btn-primary">Quay lại</a>
</form>